body {
    background-color: rgb(255, 250, 250);
}

header{
    background-color: rgb(255, 250, 250);
}

h1 {
    color: rgb(200, 0, 0);
    text-align: center;
    background-color: rgb(255, 240, 232);
}

h2 {
    color: rgb(91, 0, 0);
    text-align: center;
    background-color: rgb(255, 240, 232);
}

h3 {
    color: rgb(91, 0, 0);
}

h4 {
    color: rgb(91, 0, 0);
    text-align: center;
}

p {
    color: rgb(0, 0, 0)
}

button{
    color: rgb(90, 0, 0);
}

img {
    
    width: 300px;
}

a {
    color: rgb(255, 1, 1);
}

table{
    border: 2px solid rgb(0, 0, 0);
    width: 500px;
    border-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
}

td{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    color: rgb(0, 0, 0);
}

th{
    background-color: rgb(200, 0, 0);
    border: 2px solid;
    padding: 10px;
    color: rgb(0, 0, 0);
}